plot/
jax_cache/
*.json
*.prof
c_generated_code/
**/__pycache__/
*.csv
**.tmp.**
*.TXT
*.pkl
*.egg*info/
*_test.ipynb
plots/
*.bag
results/
mjx_quad_original.py
quad_slam_old.ipynb
custom_datasets/
*.txt
trained_models/
